.sidebar
  .top
    .top__user-name
      ユーザー名
    .top__edit-button.icon-contents
      %a.icon-contents--left{href: 'hoge'}
        =fa_icon 'cog'
      %a.icon-contents--right{href: 'hoge'}
        =fa_icon 'pencil-square-o'
  %a.bottom
    .bottom__room-content
      部屋名
    .bottom__room-content--small
      こんにちは