.top-contents{
	background-color: $side-top-color;
	padding:35px 20px 20px 20px;
	@include flex();
	&__user-name{
		@include font(16px,#FFF);
		font-weight: bold;
	}
	&__edit-button{
		@include flex();
	}
}