@mixin font($font-size,$color,$weight){
	font-size: $font-size;
	color: $color;
	font-weight: $weight;
}

@mixin box($color,$width,$height){
	background-color: $color;
	width:$width;
	height: $height;
}

@mixin margin($top,$bottom,$left,$right){
	margin: $top $bottom $left $right;
}

@mixin padding($top,$bottom,$left,$right){
	padding: $top $bottom $left $right;
}

