!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .sidebar
      .top
        .top__user-name
          ユーザー名
        .top__edit-button.icon-contents
          %a.icon-contents--left{href: 'hoge'}
            =fa_icon 'cog'
          %a.icon-contents--right{href: 'hoge'}
            =fa_icon 'pencil-square-o'
      %a.bottom
        .bottom__room-content
          部屋名
        .bottom__room-content--small
          こんにちは
    = yield
