!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  /あとでテンプレート化する
  /ここsidebar
  	.side-bar
  		.top-contents
  				.top-contents__user-name
  				.top_contents__edit-button.icon-contents
  					.icon-contents--left
  					.icon-contents--right
  		.bottom-contents
  			.bottom-contents__room-content
 /side-baroeari
    = yield
